<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Sign-Up Form
    </title>
</head>

<body>
    <p>Hi , Welcome to this signup page</p>
    <p> Today is {{ day }}</p>

    <div class="centred">
        <form action="/submit" , method="post">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" placeholder=" Enter your Name">
            <br>

            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder=" Enter your E-mail">
            <br>

            <label for="pwd">Password</label>
            <input type="password" name="pwd" id="pwd" placeholder=" Enter your Password">
            <br>

            <label for="cnf_pwd">Confirm Password</label>
            <input type="password" name="cnf_pwd" id="cnf_pwd" placeholder="Confirm your Password">
            <br>

            <input type="submit" value="Submit">

            {% if error %}
            <p style="color:red;">{{ error }}</p>
            {% endif %}
        </form>

    </div>
</body>
<style>
    body {
        background-color: aqua;
    }

    p {
        text-align: center;
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        color: blue
    }

    .centred {
        margin: auto;
        width: 50%;
        border: 3px solid green;
        padding: 10px;
    }
</style>

</html>
